html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', monospace;
}
.container {
  width: 100%;
  height: auto;
  background: #eee8d5;
}

#navbar {
  background-color: #002b36		; /* B background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  height: 66px;
  z-index: 2;
}

#navbar img {
  float: left;
  display: block;
  padding-left: 1%;
  padding-top: 7px;
  max-height: 90%;
}

/* Style the navbar title text*/
#navbar p {
  float: left;
  font-weight: bold;
  font-size: 25px;
  display: block;
  color: #839496;
  text-align: center;
  padding: 20px;
  padding-left: 2%;
  text-decoration: none;
}

/* Style the navbar links */
#navbar a {
  float: right;
  font-weight: normal;
  display: block;
  color: #839496;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #073642;
  color: #93a1a1;
}

/* underline style for active page*/
.active::after {
  margin-top: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #eee8d5;
}

.about_intro {
  width: 100%;
  height: 700px;
  position: absolute;
  display: block;
  z-index: 1;
}

.profile {
  float: right;
  margin-top: 200px;
  width: 30%;
  padding-right: 200px;
  position: relative;
}

.profile_pic {
  width: 100%;
  margin-top: 100px;
  padding-left: 50px;
}

.about_text {
  float: left;
  width: 50%;
  margin-top: 350px;
  padding-left: 100px;
  position: inherit;
}

.about_text p {
  font-size: 20px;
  color: #586e75;
}

.quote_div {
  padding-top: 50px;
}

#quote::before {
  content: '';
  font-size: 15px;
  margin-top: 50px;
  color: #dc322f;
  animation: animate_quote infinite 120s;
}

@keyframes animate_quote{
  0%{
    content: "The struggle itself towards the heights is enough to fill a man's heart. One must imagine Sisyphus happy. – Albert Camus";
  }
  25%{
    content: "He learned incessantly from the river. Above all, it taught him how to listen, to listen with a silent heart, with a waiting, open soul, without passion, without desire, without judgment, without opinion. – Herman Hesse, Siddhartha"
  }
  50%{
    content: "Happiness [is] only real when shared ― Jon Krakauer, Into the Wild"
  }
  75%{
    content: "I may not have gone where I intended to go, but I think I have ended up where I needed to be. – Douglas Adams"
  }
  100%{
    content: "Two roads diverged in a wood, and I -- I took the one less traveled by, and that has made all the difference. – Robert Frost"
  }
}
