html, body {
  height: 100%;
}

/* Hide scrollbar */
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', monospace;
}

.container {
  width: 100%;
  height: auto;
  background: #eee8d5;
}

#navbar {
  background-color: #002b36		; /* B background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  height: 66px;
  z-index: 2;
}

#navbar img {
  float: left;
  display: block;
  padding-left: 1%;
  padding-top: 7px;
  max-height: 90%;
}

/* Style the navbar title text*/
#navbar p {
  float: left;
  font-weight: bold;
  font-size: 25px;
  display: block;
  color: #839496;
  text-align: center;
  padding: 20px;
  padding-left: 2%;
  text-decoration: none;
}

/* Style the navbar links */
#navbar a {
  float: right;
  font-weight: normal;
  display: block;
  color: #839496;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #073642;
  color: #93a1a1;
}

/* underline style for active page*/
.active::after {
  margin-top: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #eee8d5;
}

.about_intro {
  width: 100%;
  height: 700px;
  z-index: 1;
  padding-bottom: 50px;
  border-bottom: 3px solid #fdf6e3;
}

.profile {
  position: absolute;
  top: 200px;
  right: 150px;
  width: 30%;
  height: 500px;
  padding-left: 20px;
}

.profile_pic {
  width: 100%;
  margin-top: 100px;
  padding-left: 50px;
}

.about_text {
  float: left;
  width: 50%;
  margin-top: 350px;
  padding-left: 100px;
}

.about_text p {
  font-size: 20px;
  color: #586e75;
}

.quote_div {
  padding-top: 50px;
}

#quote::before {
  content: '';
  font-size: 15px;
  margin-top: 50px;
  color: #dc322f;
  animation: animate_quote infinite 120s;
}

@keyframes animate_quote{
  0%{
    content: "The struggle itself towards the heights is enough to fill a man's heart. One must imagine Sisyphus happy. - Albert Camus";
  }
  25%{
    content: "He learned incessantly from the river. Above all, it taught him how to listen, to listen with a silent heart, with a waiting, open soul, without passion, without desire, without judgment, without opinion. - Herman Hesse, Siddhartha"
  }
  50%{
    content: "Happiness [is] only real when shared - Jon Krakauer, Into the Wild"
  }
  75%{
    content: "I may not have gone where I intended to go, but I think I have ended up where I needed to be. – Douglas Adams"
  }
  100%{
    content: "Two roads diverged in a wood, and I -- I took the one less traveled by, and that has made all the difference. - Robert Frost"
  }
}

.resume {
  width: 100%;
  height: 800px;
  display: block;
  z-index: 1;
  border-bottom: 3px solid #fdf6e3;
}

.resume_doc {
  position: absolute;
  left: 150px;
  top: 850px;
}

.coursework {
  position: absolute;
  line-height: 35px;
  right: 150px;
  top: 850px;
  color: #657b83;
}

.coursework ul li {
  color: #586e75;
}

.coursework span {
  color: #d33682;
}

.misc {
  width: 100%;
  height: 800px;
  display: block;
  z-index: 1;
  border-bottom: 3px solid #fdf6e3;
}

.misc h1 {
  position: absolute;
  left: 100px;
  top: 1650px;
  color: #657b83
}
.misc ul {
  position: absolute;
  width: 80%;
  left: 125px;
  top: 1800px;
  font-size: 15px;
  color: #586e75;
}

.misc li {
  margin: 20px 0;
}

.link {
 cursor: default;
 text-decoration: none;
 color: #dc322f;
}

.social {
  width: 100%;
  height: 400px;
  display: block;
  z-index: 1;
  border-bottom: 3px solid #fdf6e3;
}

section #services {
  text-align: center;
  transform: translatez(0);
}
section #services h2 {
  margin: 80px 0px 40px;
  color: #586e75;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
}
section #services li {
  width: 120px;
  height: 140px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}
section #services li div {
  width: 120px;
  height: 120px;
  color: #eee8d5;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: #f9f7f1;
  transition: all 0.5s ease;
}
section #services li a {
  color: #eee8d5;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
section #services li span {
  width: 120px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #586e75;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}
