* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gradient-color: linear-gradient(to right bottom, rgba(42, 161, 152, 0.8), rgba(38,139,210,0.8));
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Fira Code', monospace;
  font-size: 1.6rem;
  color: #586e75;
  background-color: #eee8d5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

#navbar {
  background-color: #002b36		; /* B background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  height: 66px;
  z-index: 20;
}

#navbar img {
  float: left;
  display: block;
  padding-left: 1%;
  padding-top: 10px;
  max-height: 90%;
}

/* Style the navbar title text*/
#navbar p {
  float: left;
  font-weight: bold;
  font-size: 25px;
  display: block;
  color: #839496;
  text-align: center;
  padding: 20px;
  padding-left: 2%;
  text-decoration: none;
}

/* Style the navbar links */
#navbar a {
  float: right;
  font-weight: normal;
  display: block;
  color: #839496;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #073642;
  color: #93a1a1;
}

/* underline style for active page*/
.active::after {
  margin-top: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #eee8d5;
}

.container {
  width: 100%;
  height: auto;
  position: absolute;
  top: 30rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fdf6e3;
  box-shadow: 2px 0.8rem 1rem rgba(0,0,0,0.05);
  margin: auto;
}

.image_data {
  height: 25rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

/* .background_image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("project_photos/website_mk2.jpg") center no-repeat;
  background-size: cover;
  z-index: -1;
  transition: transform 5s;
} */

.card:hover .background_image {
  transform: scale(1.5);

}

.publication_details {
  width: 100%;
  height: 100%;
  background: var(--gradient-color);
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

.publication_details i {
  margin-right: 1rem;
}

.author {
  display: inline-block;
  margin-bottom: .5rem;
  transition: all .5s .3s;
}

.author:hover {
  color: rgba(255, 255, 255, 0.75);
}

.date {
  display: block;
}

.post_data {
  background-color: #f9f7f1;
  padding: 2rem 3rem;
  position: relative;
}

.title {
  font-size: 3rem;
  line-height: 1;
}

.subtitle {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #a2a2a2;
  margin: 1rem 0 1.5rem 0;
}

.description {
  position: relative;
}

.description::first-letter {
  margin-left: 1rem;
}

.description::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: .5rem;
  height: 2rem;
  background: var(--gradient-color);
  border-radius: 2rem;
}

.cta {
  text-align: right;
  font-weight: bold;
  margin-top: 1rem;
}

.cta a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
}

.cta a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -.5rem;
  width: 100%;
  height: 3px;
  background: var(--gradient-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}

.cta a:hover::before {
  transform: scaleX(1);
}

@media screen and (min-width: 600px) {
  .card {
    flex-direction: row;
    max-width: 125rem;
    margin-bottom: 10rem;
  }

  .image_data {
    flex-basis: 40%;
    height: unset;
  }

  .publication_details {
    transform: translateX(-100%);
    transition: transform .5s;
  }

  .card:hover .publication_details {
    transform: translateX(0);
  }

  .author {
    transform: translateY(-3rem);
    opacity: 0;
    transition-delay: .3s;
  }

  .date {
    transform: translateY(3rem);
    opacity: 0;
    transition: all .5s .3s;
  }

  .card:hover .author,
  .card:hover .date {
    transform: translateY(0);
    opacity: 1;
  }

  .post_data {
    flex-basis: 60%;
  }

  .post_data::before {
    content: '';
    width: 3.5rem;
    height: 100%;
    background-color: #f9f7f1;
    position: absolute;
    top: 0;
    left: -1.5rem;
    z-index: 10;
    transform: skewX(-5deg);
  }
}

.social {
  width: 100%;
  height: 400px;
  display: block;
  z-index: 1;
  border-bottom: 3px solid #fdf6e3;
  position: relative;
}

section #services {
  text-align: center;
  transform: translatez(0);
}
section #services h2 {
  margin: 80px 0px 40px;
  color: #586e75;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
}
section #services li {
  width: 120px;
  height: 140px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}
section #services li div {
  width: 120px;
  height: 120px;
  color: #eee8d5;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: #f9f7f1;
  transition: all 0.5s ease;
}
section #services li a {
  color: #eee8d5;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
section #services li span {
  width: 120px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #586e75;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}

#website_mk2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("project_photos/website_mk2.jpg") center no-repeat;
  background-size: cover;
  z-index: -1;
  transition: transform 5s;
}

#messenger_analysis {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("project_photos/messenger_analysis.jpg") bottom no-repeat;
  background-size: cover;
  z-index: -1;
  transition: transform 5s;
}

#mnist {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("project_photos/mnist.png") bottom no-repeat;
  background-size: cover;
  z-index: -1;
  transition: transform 5s;
}

#flash_fiction {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("project_photos/flash_fiction.jpg") center no-repeat;
  background-size: cover;
  z-index: -1;
  transition: transform 5s;
}

#twitterbot {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("project_photos/twitterbot.jpg") center no-repeat;
  background-size: cover;
  z-index: -1;
  transition: transform 5s;
}
